<div class="hero-unit">
  <h2 class="pivotalId"><%= story.pivotalId %></h2>
  <%- linkTo('Edit this story', editStoryPath(params.id), {class: 'btn pull-right'}); %>
</div>

<h2>Story Properties</h2>
<% for(var i in story) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= story[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>